
$color-primary-light: #36a8cb;
$color-primary: #3581c4;
$color-active: #3581c4;
$color-base: #292929;
$color-accent: #6264C3;
$color-disabled: rgb(112 119 132);
$color-error: #e41b1b;
$color-success: #479772;

$z-index-back: -1;
$z-index-top: 1000;
$z-index-important: 2000;
$z-index-urgent: 3000;
