@use "x";

@use "components/proof";
@use "components/reference";
@use "components/ordered_list";
@use "components/line";

@use "views/main";
@use "views/page";
@use "views/sidebar";
@use "views/header";
@use "views/index";

@include proof.includes();
@include reference.includes();
@include ordered_list.includes();

.appendix  .definition {
    padding: 10px;
    border: 1px solid #333;
    box-shadow:  -1px 1px #333,
            -2px 2px #333,
            -3px 3px #333,
            -4px 4px #333,
            -5px 5px #333;
    
}

@media only screen and (max-width: 700px) {
    #menu.active  {
        position: fixed;
        z-index: 1;
        right: 1em;
    }
}